.card{
	width: 80px;
	height: 100px;
	border: 5px;
	margin: 5px;
	border-style:solid;
	border-color:#000000;
	border-radius: 5px;
	

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	cursor:pointer;
}

.cardContainer{
	width: 100px;
	height: 120px;
	float: left;	
}

.restart{
	float:left;
	width: 200px;
	height: 69px;
	margin: 5px;
	border: 5px;
	border-style:solid;
	border-color:#000000;
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
	border-radius: 5px;
	font-family: "Comic Sans MS";
	font-weight:bolder;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	cursor:pointer;
}

.notTurned{
	background:url('../img/card_bg.gif')
}

.selected{
	border-color:#0000ff;
}

.hidden{
	visibility:hidden;
}

.turned{
	
}

#container{
	width: 700px;
	margin: auto;
	margin-top:50px;
}

#board{
	float: left;
	width: 410px;
	height: 500px;
}

#logo{
	float: left;
	background:url('../img/logo.png');
	background-repeat:no-repeat;
	background-position:center;
	width:200px;
	height:100px;
	margin: 5px;
	border: 5px;
	border-style:solid;
	border-radius: 5px;
}

#output{
	float: left;
	resize: none;
	width:196px;
	height:215px;
	margin: 5px;
	border: 5px;
	border-style:solid;
	font-size: 12px;
	padding:2px;
	padding-top:3px;
	border-radius: 5px;
}

